<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> <i class="fa-regular fa-map"></i> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add New Listing</a>
          <a class="nav-link" href="/calculator">Trip Cost Calculator</a>
          <a class="nav-link" href="/rentals/rent">Rent-A-Car</a>
          <a class="nav-link" href="/findMates">Find Travel Mates</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if (!currentUser) { %>
            <a class="nav-link active" aria-current="page" href="/signup">SignUp</a>
            <a class="nav-link" href="/login">Login</a>
         <% } %>
         <% if (currentUser) { %>
            <a class="nav-link">Owner:<%= currentUser.username %> </a> 
            <a class="nav-link" href="/logout">Logout</a>
          <% } %>
          
        </div>
      </div>
    </div>
  </nav>