<% layout("/layouts/boilerplate") %>

    <div class="row">
        <h3>Create a New Listing</h3>

        
    <form method="post"  action="/listings"  enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input name="listing[title]" type="text"  class="form-control"
            
            id="exampleFormControlInput1" placeholder="Enter your title" required >
          </div>
        
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Description</label>
            <textarea name="listing[description]"  id="exampleFormControlTextarea1" class="form-control" 
            rows="2" required>

            </textarea>
          </div>
          
        
        
        <div class="mb-3">
            <label for="exampleFormControlTextarea2" class="form-label">Price</label>
            <input name="listing[price]"  type="number" 
            id="exampleFormControlTextarea2" class="form-control" required ></input>
          </div>
          
      <div class="row">

          
        <div class="mb-3 col-md-4">
          <label for="exampleFormControlTextarea3" class="form-label">Upload Image</label>
            <input name="listing[image]"  
            id="exampleFormControlTextarea3" class="form-control" type="file" required >
            
          </input>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="exampleFormControlTextarea4" class="form-label">Location
            </label>
            <input name="listing[location]"   
            id="exampleFormControlTextarea4" class="form-control" required ></input>
        </div>
      </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea5" class="form-label">Country</label>
            <input name="listing[country]"  
            id="exampleFormControlTextarea5" class="form-control" required ></input>
          </div>
        
        <div class="mb-3">
            <label for="exampleFormControlTextarea7" class="form-label">Do you want to give discount?</label>
            <select name="listing[discount]" id="exampleFormControlTextarea7" class="form-control">
              <option value="no" selected>No</option>
              <option value="yes">Yes</option>
            </select>
          </div>
          <div class="mb-3" id="discountInput" style="display: none;">
            <label for="exampleFormControlTextarea8" class="form-label">Discount Amount</label>
            <input name="listing[discountAmount]"  
            id="exampleFormControlTextarea8" class="form-control"></input>
          </div>
          <script>
            const discountSelect = document.getElementById('exampleFormControlTextarea7');
            const discountInput = document.getElementById('discountInput');
            discountSelect.addEventListener('change', function() {
              if (discountSelect.value === 'yes') {
          discountInput.style.display = 'block';
              } else {
          discountInput.style.display = 'none';
              }
            });
          </script>
        <button class="sub-btn">Add</button>

    </form>
</div>

