.navbar{
    height: 4rem;
}
.fa-regular{
    color: maroon;
}
.nav-link{
    color: #222222 !important;
}
.listing-card{
    border: none !important;
   margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.listings-link{
    text-decoration: none !important;
}

/* indivisual show */
.show-img{
    height: 40vh;

}

 /* FROM MAPBOX */
#map{ 
    height: 500px;
    width: 90vh;
 }

.vehicle-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.vehicle-card .card-body {
    flex: 1;
}

.vehicle-card img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.payment-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
    display: none;
}