.navbar{
    height: 4rem;
}
.fa-regular{
    color: maroon;
}
.nav-link{
    color: #222222 !important;
}
.listing-card{
    border: none !important;
   margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.listings-link{
    text-decoration: none !important;
}

/* indivisual show */
.show-img{
    height: 40vh;

}

 /* FROM MAPBOX */
#map{ 
    height: 500px;
    width: 90vh;
 }

.vehicle-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.vehicle-card .card-body {
    flex: 1;
}

.vehicle-card img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.payment-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
    display: none;
}

.payment-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}

.payment-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.payment-amount {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.payment-options {
    text-align: center;
    margin-bottom: 20px;
}

.payment-button {
    margin: 10px;
    width: 200px;
}

.payment-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    display: none;
}

.payment-form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.payment-submit-button {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
}

.payment-confirm-container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.payment-confirm-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.payment-confirm-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.confirmation {
    color: #333;
    margin-bottom: 20px;
}

.payment-submit-button {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.payment-submit-button:hover {
    background-color: #0056b3;
}