<% layout("/layouts/boilerplate") %>
<div class="row">
    <h3>Find Tourmates</h3>

    
<form method="post"  action="/findMates/addNew" >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input name="findMates[title]" type="text"  class="form-control"
        
        id="exampleFormControlInput1" placeholder="Enter your title" required >
    </div>
    
<div class="row"> 
    
    <div class="mb-3 col-md-4">
        <label for="exampleFormControlTextarea1" class="form-label">Starting point</label>
        <input name= "findMates[startingPoint]"  id="exampleFormControlTextarea1" class="form-control" 
        placeholder="Enter your starting point"    required>
    </div>
      
    
    
    <div class="mb-3 col-md-4">
        <label for="exampleFormControlTextarea2" class="form-label">Destination</label>
        <input name="findMates[destination]"  type="text" 
        id="exampleFormControlTextarea2" class="form-control" row="2" required ></input>
      </div>
</div> 
<div class="row"> 
    
    <div class="mb-3 col-md-4">
        <label for="exampleFormControlTextarea1" class="form-label">Starting date</label>
        <input name= "findMates[startingDate]" type="date" id="exampleFormControlTextarea1" class="form-control" 
        placeholder="Enter your starting point"    required>
    </div>
      
    
    
    <div class="mb-3 col-md-4">
        <label for="exampleFormControlTextarea2" class="form-label">Ending Date</label>
        <input name="findMates[endingDate]"  type="date" 
        id="exampleFormControlTextarea2" class="form-control" row="2" required ></input>
      </div>
</div> 
<!--  end of row -->
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Enter Description</label>
    <textarea name="findMates[description]"  id="exampleFormControlTextarea1" class="form-control" 
    rows="3" required>

    </textarea>
  </div>
    
    <div class="mb-3  col-lg-2 col-md-2">
        <label for="exampleFormControlTextarea4" class="form-label">Estimate Budget(Per Person)
        </label>
        <input name="findMates[budget]"   
        id="exampleFormControlTextarea4" class="form-control" type="number" required ></input>
    </div>

    <button class="sub-btn" name="submit">Add</button>

</form>
</div>