<% layout("/layouts/boilerplate") %>
    <!-- Welcome Section -->
    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1>Welcome to Travel Management</h1>
            <p class="lead">Your adventure begins here!</p>
            <a href="/listings" class="btn btn-light btn-lg">Find amazing places to enjoy</a>
        </div>
    </header>

    <!-- Features Section -->
    <section class="py-5">
        <div class="container">
            <h2 class="text-center">Our Features</h2>
            <br>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3>Find places</h3>
                    <p>You will find here all the amazing hotels around the world</p>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Travel Planning</h3>
                    <p>Plan your trips effortlessly with our intuitive tools.</p>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Transportation Booking</h3>
                    <p>You can book any kind of vehicals from us</p>
                </div>
                <br>
                <div class="col-md-4 text-center">
                    <h3>Find Mates</h3>
                    <p>Connect with fellow travelers and explore together.</p>
                </div>

                <div class="col-md-4 text-center">
                    <h3>Safe & Secure</h3>
                    <p>Your safety is our priority. Travel with peace of mind.</p>
                </div>
            </div>
        </div>
    </section>